[submodule "gradle-kafka-consumer"]
	path = gradle-kafka-consumer
	url = https://github.com/pragyamutluru/gradle-kafka-consumer.git
[submodule "spring-kafka-consumer"]
	path = spring-kafka-consumer
	url = https://github.com/pragyamutluru/spring-kafka-consumer.git
[submodule "nodejs-kafka-consumer"]
	path = nodejs-kafka-consumer
	url = https://github.com/FUNJABIVRUSH/nodejs-kafka-consumer.git
